# Task 1

We are predicting runs scored by batsman in every match.<br>
For this we scraped the data of batsman's performance in each match  from espn website.<br>

In [93]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Removed unneccasry rows from data.

In [94]:
df = pd.read_csv('/content/Batsman_matches4.csv')
df = df[df['runs'].isin(['absent', 'sub']) == False]
df=df[df['inns'].isin(['Ireland','Bangladesh'])==False]
df.replace('-', 0, inplace=True)
df

,avg_6,avg_4,avg_bf,avg_sr,avg_mins,runs,mins,BF,4s,6s,SR,pos,dismissal,inns,opposition,ground,date,odi_id,player
0,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,3,0,0,0,3,caught,2,Kenya,Sharjah,02-Oct-13,ODI # 3417,Hashmatullah Shahidi
1,0.000000,0.000000,3.000000,0.000000,0.000000,13,0,19,0,0,68.42,5,not out,2,Kenya,Sharjah,04-Oct-13,ODI # 3418,Hashmatullah Shahidi
2,0.000000,0.000000,11.000000,0.590909,0.000000,38,0,67,4,0,56.71,4,not out,2,Hong Kong,Kuala Lumpur,01-May-14,ODI # 3487,Hashmatullah Shahidi
3,0.000000,1.333333,29.666667,0.573034,0.000000,3,0,7,0,0,42.85,4,lbw,1,U.A.E.,Kuala Lumpur,02-May-14,ODI # 3488,Hashmatullah Shahidi
4,0.000000,1.000000,24.000000,0.562500,0.000000,15,21,22,2,0,68.18,4,caught,1,Zimbabwe,Bulawayo,18-Jul-14,ODI # 3503,Hashmatullah Shahidi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7726,0.465116,2.790698,35.209302,0.787979,43.123189,0,7,6,0,0,0,3,bowled,2,Sri Lanka,Harare,09-Jul-23,ODI # 4620,W Barresi
7727,0.454545,2.727273,34.545455,0.784868,42.302207,41,49,41,8,0,100,3,caught,1,Bangladesh,Eden Gardens,28-Oct-23,ODI # 4685,W Barresi
7728,0.444444,2.844444,34.688889,0.790519,42.451047,1,3,4,0,0,25,1,lbw,1,Afghanistan,Lucknow,03-Nov-23,ODI # 4691,W Barresi
7729,0.434783,2.782609,34.021739,0.789137,41.593416,37,77,62,3,1,59.67,1,run out,2,England,Pune,08-Nov-23,ODI # 4697,W Barresi
7730,0.446809,2.787234,34.617021,0.781807,42.346747,4,0,4,0,0,100,1,not out,2,India,Bengaluru,12-Nov-23,ODI # 4702,W Barresi

We have used some features <br>avg_6,<br>avg_4,<br>avg_bf,<br>avg_sr,<br>avg_mins.

The above features description:-<br>
avg_6- It is the average number of sixes hit by batsman per match<br>
avg_4- It is the average number of fours hit by batsman per match<br>
avg_bf- It is the average number of balls faced  by batsman per match<br>
avg_sr- It is the average number of strike rate of  batsman per match which is calculated by <br>
total runs hit  by batsman /total balls faced till now<br>
avg_mins- It is the average mins duration played by batsman per match

Removed unneccasry columns from data.

In [95]:
df=df.drop(['SR','dismissal','odi_id','4s','6s','BF','mins'],axis=1)
df

,avg_6,avg_4,avg_bf,avg_sr,avg_mins,runs,pos,inns,opposition,ground,date,player
0,0.000000,0.000000,0.000000,0.000000,0.000000,0,3,2,Kenya,Sharjah,02-Oct-13,Hashmatullah Shahidi
1,0.000000,0.000000,3.000000,0.000000,0.000000,13,5,2,Kenya,Sharjah,04-Oct-13,Hashmatullah Shahidi
2,0.000000,0.000000,11.000000,0.590909,0.000000,38,4,2,Hong Kong,Kuala Lumpur,01-May-14,Hashmatullah Shahidi
3,0.000000,1.333333,29.666667,0.573034,0.000000,3,4,1,U.A.E.,Kuala Lumpur,02-May-14,Hashmatullah Shahidi
4,0.000000,1.000000,24.000000,0.562500,0.000000,15,4,1,Zimbabwe,Bulawayo,18-Jul-14,Hashmatullah Shahidi
...,...,...,...,...,...,...,...,...,...,...,...,...
7726,0.465116,2.790698,35.209302,0.787979,43.123189,0,3,2,Sri Lanka,Harare,09-Jul-23,W Barresi
7727,0.454545,2.727273,34.545455,0.784868,42.302207,41,3,1,Bangladesh,Eden Gardens,28-Oct-23,W Barresi
7728,0.444444,2.844444,34.688889,0.790519,42.451047,1,1,1,Afghanistan,Lucknow,03-Nov-23,W Barresi
7729,0.434783,2.782609,34.021739,0.789137,41.593416,37,1,2,England,Pune,08-Nov-23,W Barresi
7730,0.446809,2.787234,34.617021,0.781807,42.346747,4,1,2,India,Bengaluru,12-Nov-23,W Barresi

In [96]:
df.dtypes

avg_6         float64
avg_4         float64
avg_bf        float64
avg_sr        float64
avg_mins      float64
runs           object
pos            object
inns           object
opposition     object
ground         object
date           object
player         object
dtype: object

Converted columns into int.

In [97]:
df['runs'] = pd.to_numeric(df['runs']).astype('int')
df['pos'] = pd.to_numeric(df['pos']).astype('int')
df['inns'] = pd.to_numeric(df['inns']).astype('int')

In [98]:
df.dtypes

avg_6         float64
avg_4         float64
avg_bf        float64
avg_sr        float64
avg_mins      float64
runs            int64
pos             int64
inns            int64
opposition     object
ground         object
date           object
player         object
dtype: object

Selecting the data that have teams which are playing in world cup 2023

In [99]:
values_to_keep = ['India','Sri Lanka','Bangladesh','Pakistan','England','New Zealand','South Africa','Australia','Netherlands','Afghanistan']
df = df[df['opposition'].isin(values_to_keep)]

In [100]:
df.shape

(6240, 12)

Doing the one-hot encoding for dealing with categorical features that important for predicting runs which are:-<br>
player-name of the player<br>
ground-venue of the match<br>
oppsition-opposition team<br>

In [101]:
# One-hot encoding using pandas
one_hot_encoded = pd.get_dummies(df['player'], prefix='player')

# Concatenate the one-hot encoded columns to the original DataFrame
df = pd.concat([df, one_hot_encoded], axis=1)

In [102]:
# One-hot encoding using pandas
one_hot_encoded = pd.get_dummies(df['ground'], prefix='ground')

# Concatenate the one-hot encoded columns to the original DataFrame
df = pd.concat([df, one_hot_encoded], axis=1)

In [103]:
# One-hot encoding using pandas
one_hot_encoded = pd.get_dummies(df['opposition'], prefix='opposition')

# Concatenate the one-hot encoded columns to the original DataFrame
df = pd.concat([df, one_hot_encoded], axis=1)

Extarcting year, month and day from date feature

In [104]:
df['date'] = pd.to_datetime(df['date'], format='%d-%b-%y')

df['timestamp'] = df['date'].astype(int) // 10**9  # Convert to Unix timestamp

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

In [105]:
df

,avg_6,avg_4,avg_bf,avg_sr,avg_mins,runs,pos,inns,opposition,ground,...,opposition_India,opposition_Netherlands,opposition_New Zealand,opposition_Pakistan,opposition_South Africa,opposition_Sri Lanka,timestamp,year,month,day
9,0.000000,1.222222,30.222222,0.536765,7.666667,72,4,2,Bangladesh,Mirpur,...,0,0,0,0,0,0,1474761600,2016,9,25
10,0.000000,1.700000,38.200000,0.570681,21.600000,14,4,2,Bangladesh,Mirpur,...,0,0,0,0,0,0,1475020800,2016,9,28
11,0.000000,1.636364,37.363636,0.564477,23.272727,0,4,2,Bangladesh,Mirpur,...,0,0,0,0,0,0,1475280000,2016,10,1
20,0.000000,1.750000,34.650000,0.594517,30.116667,37,5,1,Sri Lanka,Abu Dhabi,...,0,0,0,0,0,1,1537142400,2018,9,17
21,0.000000,1.761905,35.476190,0.602685,30.116667,58,4,1,Bangladesh,Abu Dhabi,...,0,0,0,0,0,0,1537401600,2018,9,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7726,0.465116,2.790698,35.209302,0.787979,43.123189,0,3,2,Sri Lanka,Harare,...,0,0,0,0,0,1,1688860800,2023,7,9
7727,0.454545,2.727273,34.545455,0.784868,42.302207,41,3,1,Bangladesh,Eden Gardens,...,0,0,0,0,0,0,1698451200,2023,10,28
7728,0.444444,2.844444,34.688889,0.790519,42.451047,1,1,1,Afghanistan,Lucknow,...,0,0,0,0,0,0,1698969600,2023,11,3
7729,0.434783,2.782609,34.021739,0.789137,41.593416,37,1,2,England,Pune,...,0,0,0,0,0,0,1699401600,2023,11,8
7730,0.446809,2.787234,34.617021,0.781807,42.346747,4,1,2,India,Bengaluru,...,1,0,0,0,0,0,1699747200,2023,11,12

We have used randomforestRegressor,lightgbm,XGBregressor,DNN(Deep Neural Networks) models for predicting runs for each batsman in a match and we have got below r2 score for each model

XGBoost- 0.741698412183227<br>
RandomforestRegressor-0.7067971768993471<br>
Lightgbm,XGBregressor-0.5208976825267001<br>
DNN(Deep Neural Networks)-0.8217465896115936<br>

In [106]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
import lightgbm as lgb
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score


# Split the data into training and testing sets
# Create a condition for the split
condition_train =(df['year'] >= 2018)
condition_test = (df['year'] == 2023) & (df['month'] >= 10)  # Inverse of the training condition

# Split the data based on the conditions
X_train, X_test, y_train, y_test = (
    df.loc[condition_train],
    df.loc[condition_test],
    df.loc[condition_train],
    df.loc[condition_test]
)
X_test_player=X_test
# X = df[feature_columns]
X_train=X_train.drop(['timestamp','opposition','date','player','ground','inns','pos','runs','year','month','day'],axis=1)
X_test=X_test.drop(['timestamp','opposition','date','player','ground','inns','pos','runs','year','month','day'],axis=1)
y_train=y_train['runs']
y_test=y_test['runs']

scaler =  StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# XGBoost Regressor
xgb_model = XGBRegressor()
xgb_model.fit(X_train, y_train)
xgb_predictions = xgb_model.predict(X_test)

#Randomforest Regressor
Randomforest_model=RandomForestRegressor(n_estimators=100,max_depth=20)
Randomforest_model.fit(X_train, y_train)
Randomforest_predictions = Randomforest_model.predict(X_test)

# LightGBM Regressor
lgb_model = lgb.LGBMRegressor()
lgb_model.fit(X_train, y_train)
lgb_predictions = lgb_model.predict(X_test)

# DNN using TensorFlow and Keras
model = keras.Sequential([
    keras.layers.Dense(150, activation='relu', input_shape=(X_train.shape[1],)),
    keras.layers.Dense(64, activation='relu'),
    keras.layers.Dense(1)  # No activation function for regression
])

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])

# Train your DNN model
model.fit(X_train, y_train, epochs=100, batch_size=900)

# Predict with the trained DNN model
dnn_predictions = model.predict(X_test).flatten()

# Evaluate models
print("XGBoost Model:")
print("Mean Squared Error:", mean_squared_error(y_test, xgb_predictions))
print("R-squared Score:", r2_score(y_test, xgb_predictions))

print("\nRandomforest Model:")
print("Mean Squared Error:", mean_squared_error(y_test, Randomforest_predictions))
print("R-squared Score:", r2_score(y_test, Randomforest_predictions))

print("\nLightGBM Model:")
print("Mean Squared Error:", mean_squared_error(y_test, lgb_predictions))
print("R-squared Score:", r2_score(y_test, lgb_predictions))

print("\nDNN Model:")
print("Mean Squared Error:", mean_squared_error(y_test, dnn_predictions))
print("R-squared Score:", r2_score(y_test, dnn_predictions))

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.003592 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1728
[LightGBM] [Info] Number of data points in the train set: 3953, number of used features: 156
[LightGBM] [Info] Start training from score 27.567417
Epoch 1/100
5/5 [==============================] - 1s 10ms/step - loss: 1702.2688 - mean_squared_error: 1702.2688
Epoch 2/100
5/5 [==============================] - 0s 10ms/step - loss: 1604.4897 - mean_squared_error: 1604.4897
Epoch 3/100
5/5 [==============================] - 0s 10ms/step - loss: 1505.3768 - mean_squared_error: 1505.3768
Epoch 4/100
5/5 [==============================] - 0s 11ms/step - loss: 1400.9080 - mean_squared_error: 1400.9080
Epoch 5/100
5/5 [==============================] - 0s 10ms/step - loss: 1291.9015 - mean_squared_error: 1291.9015
Epoch 6/100
5/5 [==============================] - 0s 10ms/step - loss: 1175.1643 - mean_squared_error: 1175.1643
Epoch 7/100
5/5 [==============================] - 0s 10ms/step - loss: 1063.8849 - mean_squared_error: 1063.8849
Epoch 8/100
5/5 [==============================] - 0s 12ms/step - loss: 964.4785 - mean_squared_error: 964.4785
Epoch 9/100
5/5 [==============================] - 0s 10ms/step - loss: 888.7702 - mean_squared_error: 888.7702
Epoch 10/100
5/5 [==============================] - 0s 10ms/step - loss: 837.6902 - mean_squared_error: 837.6902
Epoch 11/100
5/5 [==============================] - 0s 10ms/step - loss: 817.6293 - mean_squared_error: 817.6293
Epoch 12/100
5/5 [==============================] - 0s 10ms/step - loss: 806.8810 - mean_squared_error: 806.8810
Epoch 13/100
5/5 [==============================] - 0s 9ms/step - loss: 796.6566 - mean_squared_error: 796.6566
Epoch 14/100
5/5 [==============================] - 0s 10ms/step - loss: 785.2461 - mean_squared_error: 785.2461
Epoch 15/100
5/5 [==============================] - 0s 10ms/step - loss: 775.3935 - mean_squared_error: 775.3935
Epoch 16/100
5/5 [==============================] - 0s 11ms/step - loss: 767.7064 - mean_squared_error: 767.7064
Epoch 17/100
5/5 [==============================] - 0s 10ms/step - loss: 762.8004 - mean_squared_error: 762.8004
Epoch 18/100
5/5 [==============================] - 0s 10ms/step - loss: 758.7409 - mean_squared_error: 758.7409
Epoch 19/100
5/5 [==============================] - 0s 9ms/step - loss: 754.6298 - mean_squared_error: 754.6298
Epoch 20/100
5/5 [==============================] - 0s 9ms/step - loss: 751.0641 - mean_squared_error: 751.0641
Epoch 21/100
5/5 [==============================] - 0s 10ms/step - loss: 747.4644 - mean_squared_error: 747.4644
Epoch 22/100
5/5 [==============================] - 0s 10ms/step - loss: 744.0123 - mean_squared_error: 744.0123
Epoch 23/100
5/5 [==============================] - 0s 10ms/step - loss: 740.6985 - mean_squared_error: 740.6985
Epoch 24/100
5/5 [==============================] - 0s 10ms/step - loss: 737.6243 - mean_squared_error: 737.6243
Epoch 25/100
5/5 [==============================] - 0s 12ms/step - loss: 734.6784 - mean_squared_error: 734.6784
Epoch 26/100
5/5 [==============================] - 0s 10ms/step - loss: 731.7200 - mean_squared_error: 731.7200
Epoch 27/100
5/5 [==============================] - 0s 10ms/step - loss: 728.8524 - mean_squared_error: 728.8524
Epoch 28/100
5/5 [==============================] - 0s 9ms/step - loss: 726.0126 - mean_squared_error: 726.0126
Epoch 29/100
5/5 [==============================] - 0s 9ms/step - loss: 722.9820 - mean_squared_error: 722.9820
Epoch 30/100
5/5 [==============================] - 0s 10ms/step - loss: 720.2496 - mean_squared_error: 720.2496
Epoch 31/100
5/5 [==============================] - 0s 9ms/step - loss: 717.3257 - mean_squared_error: 717.3257
Epoch 32/100
5/5 [==============================] - 0s 10ms/step - loss: 714.4763 - mean_squared_error: 714.4763
Epoch 33/100
5/5 [==============================] - 0s 9ms/step - loss: 711.4876 - mean_squared_error: 711.4876
Epoch 34/100
5/5 [==============================] - 0s 10ms/step - loss: 708.7419 - mean_squared_error: 708.7419
Epoch 35/100
5/5 [==============================] - 0s 10ms/step - loss: 705.2693 - mean_squared_error: 705.2693
Epoch 36/100
5/5 [==============================] - 0s 9ms/step - loss: 702.3230 - mean_squared_error: 702.3230
Epoch 37/100
5/5 [==============================] - 0s 10ms/step - loss: 699.2172 - mean_squared_error: 699.2172
Epoch 38/100
5/5 [==============================] - 0s 9ms/step - loss: 695.9807 - mean_squared_error: 695.9807
Epoch 39/100
5/5 [==============================] - 0s 9ms/step - loss: 692.5571 - mean_squared_error: 692.5571
Epoch 40/100
5/5 [==============================] - 0s 9ms/step - loss: 689.3178 - mean_squared_error: 689.3178
Epoch 41/100
5/5 [==============================] - 0s 11ms/step - loss: 685.4988 - mean_squared_error: 685.4988
Epoch 42/100
5/5 [==============================] - 0s 10ms/step - loss: 681.7292 - mean_squared_error: 681.7292
Epoch 43/100
5/5 [==============================] - 0s 11ms/step - loss: 677.7401 - mean_squared_error: 677.7401
Epoch 44/100
5/5 [==============================] - 0s 10ms/step - loss: 673.6922 - mean_squared_error: 673.6922
Epoch 45/100
5/5 [==============================] - 0s 10ms/step - loss: 669.3716 - mean_squared_error: 669.3716
Epoch 46/100
5/5 [==============================] - 0s 10ms/step - loss: 664.9427 - mean_squared_error: 664.9427
Epoch 47/100
5/5 [==============================] - 0s 9ms/step - loss: 660.5491 - mean_squared_error: 660.5491
Epoch 48/100
5/5 [==============================] - 0s 9ms/step - loss: 655.1387 - mean_squared_error: 655.1387
Epoch 49/100
5/5 [==============================] - 0s 11ms/step - loss: 649.8895 - mean_squared_error: 649.8895
Epoch 50/100
5/5 [==============================] - 0s 9ms/step - loss: 643.9014 - mean_squared_error: 643.9014
Epoch 51/100
5/5 [==============================] - 0s 11ms/step - loss: 637.8124 - mean_squared_error: 637.8124
Epoch 52/100
5/5 [==============================] - 0s 16ms/step - loss: 631.3679 - mean_squared_error: 631.3679
Epoch 53/100
5/5 [==============================] - 0s 17ms/step - loss: 624.6202 - mean_squared_error: 624.6202
Epoch 54/100
5/5 [==============================] - 0s 15ms/step - loss: 616.9333 - mean_squared_error: 616.9333
Epoch 55/100
5/5 [==============================] - 0s 15ms/step - loss: 609.4076 - mean_squared_error: 609.4076
Epoch 56/100
5/5 [==============================] - 0s 16ms/step - loss: 601.4267 - mean_squared_error: 601.4267
Epoch 57/100
5/5 [==============================] - 0s 17ms/step - loss: 592.9783 - mean_squared_error: 592.9783
Epoch 58/100
5/5 [==============================] - 0s 18ms/step - loss: 584.5264 - mean_squared_error: 584.5264
Epoch 59/100
5/5 [==============================] - 0s 16ms/step - loss: 574.8204 - mean_squared_error: 574.8204
Epoch 60/100
5/5 [==============================] - 0s 13ms/step - loss: 565.7698 - mean_squared_error: 565.7698
Epoch 61/100
5/5 [==============================] - 0s 15ms/step - loss: 556.3454 - mean_squared_error: 556.3454
Epoch 62/100
5/5 [==============================] - 0s 15ms/step - loss: 546.1593 - mean_squared_error: 546.1593
Epoch 63/100
5/5 [==============================] - 0s 15ms/step - loss: 536.0035 - mean_squared_error: 536.0035
Epoch 64/100
5/5 [==============================] - 0s 16ms/step - loss: 525.5312 - mean_squared_error: 525.5312
Epoch 65/100
5/5 [==============================] - 0s 15ms/step - loss: 515.4500 - mean_squared_error: 515.4500
Epoch 66/100
5/5 [==============================] - 0s 17ms/step - loss: 505.0063 - mean_squared_error: 505.0063
Epoch 67/100
5/5 [==============================] - 0s 17ms/step - loss: 495.3681 - mean_squared_error: 495.3681
Epoch 68/100
5/5 [==============================] - 0s 15ms/step - loss: 485.0461 - mean_squared_error: 485.0461
Epoch 69/100
5/5 [==============================] - 0s 18ms/step - loss: 474.9517 - mean_squared_error: 474.9517
Epoch 70/100
5/5 [==============================] - 0s 19ms/step - loss: 465.1897 - mean_squared_error: 465.1897
Epoch 71/100
5/5 [==============================] - 0s 13ms/step - loss: 455.6470 - mean_squared_error: 455.6470
Epoch 72/100
5/5 [==============================] - 0s 17ms/step - loss: 446.8420 - mean_squared_error: 446.8420
Epoch 73/100
5/5 [==============================] - 0s 17ms/step - loss: 437.4297 - mean_squared_error: 437.4297
Epoch 74/100
5/5 [==============================] - 0s 15ms/step - loss: 429.8983 - mean_squared_error: 429.8983
Epoch 75/100
5/5 [==============================] - 0s 14ms/step - loss: 421.4126 - mean_squared_error: 421.4126
Epoch 76/100
5/5 [==============================] - 0s 15ms/step - loss: 413.2571 - mean_squared_error: 413.2571
Epoch 77/100
5/5 [==============================] - 0s 15ms/step - loss: 405.7905 - mean_squared_error: 405.7905
Epoch 78/100
5/5 [==============================] - 0s 17ms/step - loss: 397.6163 - mean_squared_error: 397.6163
Epoch 79/100
5/5 [==============================] - 0s 13ms/step - loss: 390.6035 - mean_squared_error: 390.6035
Epoch 80/100
5/5 [==============================] - 0s 15ms/step - loss: 385.1115 - mean_squared_error: 385.1115
Epoch 81/100
5/5 [==============================] - 0s 14ms/step - loss: 378.1140 - mean_squared_error: 378.1140
Epoch 82/100
5/5 [==============================] - 0s 15ms/step - loss: 372.2519 - mean_squared_error: 372.2519
Epoch 83/100
5/5 [==============================] - 0s 18ms/step - loss: 365.7631 - mean_squared_error: 365.7631
Epoch 84/100
5/5 [==============================] - 0s 19ms/step - loss: 360.6114 - mean_squared_error: 360.6114
Epoch 85/100
5/5 [==============================] - 0s 16ms/step - loss: 355.0227 - mean_squared_error: 355.0227
Epoch 86/100
5/5 [==============================] - 0s 16ms/step - loss: 349.1056 - mean_squared_error: 349.1056
Epoch 87/100
5/5 [==============================] - 0s 17ms/step - loss: 343.6570 - mean_squared_error: 343.6570
Epoch 88/100
5/5 [==============================] - 0s 16ms/step - loss: 338.6914 - mean_squared_error: 338.6914
Epoch 89/100
5/5 [==============================] - 0s 15ms/step - loss: 334.6180 - mean_squared_error: 334.6180
Epoch 90/100
5/5 [==============================] - 0s 16ms/step - loss: 329.6106 - mean_squared_error: 329.6106
Epoch 91/100
5/5 [==============================] - 0s 15ms/step - loss: 325.2708 - mean_squared_error: 325.2708
Epoch 92/100
5/5 [==============================] - 0s 16ms/step - loss: 320.6278 - mean_squared_error: 320.6278
Epoch 93/100
5/5 [==============================] - 0s 15ms/step - loss: 318.1230 - mean_squared_error: 318.1230
Epoch 94/100
5/5 [==============================] - 0s 16ms/step - loss: 313.1865 - mean_squared_error: 313.1865
Epoch 95/100
5/5 [==============================] - 0s 17ms/step - loss: 309.4123 - mean_squared_error: 309.4123
Epoch 96/100
5/5 [==============================] - 0s 15ms/step - loss: 306.9308 - mean_squared_error: 306.9308
Epoch 97/100
5/5 [==============================] - 0s 16ms/step - loss: 302.5318 - mean_squared_error: 302.5318
Epoch 98/100
5/5 [==============================] - 0s 17ms/step - loss: 299.2488 - mean_squared_error: 299.2488
Epoch 99/100
5/5 [==============================] - 0s 15ms/step - loss: 296.5684 - mean_squared_error: 296.5684
Epoch 100/100
5/5 [==============================] - 0s 15ms/step - loss: 292.4681 - mean_squared_error: 292.4681
25/25 [==============================] - 0s 2ms/step
XGBoost Model:
Mean Squared Error: 246.51847674832317
R-squared Score: 0.741698412183227

Randomforest Model:
Mean Squared Error: 279.8275997449655
R-squared Score: 0.7067971768993471

LightGBM Model:
Mean Squared Error: 457.24679630653054
R-squared Score: 0.5208976825267001

DNN Model:
Mean Squared Error: 170.12190894976064
R-squared Score: 0.8217465896115936

In [111]:
# Create a new dataframe for predictions
output_df = X_test_player.copy()

# Add the actual target values to the new dataframe
output_df['actual_runs'] = y_test.values

# Add the predicted values from each model
output_df['xgb_predictions'] = xgb_predictions
output_df['Randomforest_predictions'] = Randomforest_predictions
output_df['lgb_predictions'] = lgb_predictions
output_df['dnn_predictions'] = dnn_predictions

In [110]:
output_df

,avg_6,avg_4,avg_bf,avg_sr,avg_mins,runs,pos,inns,opposition,ground,...,opposition_Sri Lanka,timestamp,year,month,day,actual_runs,xgb_predictions,Randomforest_predictions,lgb_predictions,dnn_predictions
64,0.156250,2.437500,41.437500,0.669306,43.680712,18,4,1,Bangladesh,Dharamsala,...,0,1696636800,2023,10,7,18,26.676828,24.786963,30.302322,15.138124
65,0.153846,2.430769,41.384615,0.666543,43.531778,80,4,1,India,Delhi,...,0,1696982400,2023,10,11,80,39.721901,41.235284,31.907877,51.820080
66,0.166667,2.515152,42.090909,0.674226,44.811599,14,4,1,England,Delhi,...,0,1697328000,2023,10,15,14,16.912964,24.534836,28.188790,38.328827
67,0.164179,2.477612,42.000000,0.670576,44.829337,8,4,2,New Zealand,Chennai,...,0,1697587200,2023,10,18,8,17.277834,20.059035,20.854738,29.548304
68,0.161765,2.455882,41.808824,0.666549,44.611258,48,4,2,Pakistan,Chennai,...,0,1698019200,2023,10,23,48,28.149153,29.812215,31.507892,53.325546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7682,0.534296,4.606498,52.581227,0.935530,72.453071,51,3,1,Netherlands,Bengaluru,...,0,1699747200,2023,11,12,51,49.496216,47.060158,48.387250,61.343719
7727,0.454545,2.727273,34.545455,0.784868,42.302207,41,3,1,Bangladesh,Eden Gardens,...,0,1698451200,2023,10,28,41,34.444023,26.814291,24.412162,42.826168
7728,0.444444,2.844444,34.688889,0.790519,42.451047,1,1,1,Afghanistan,Lucknow,...,0,1698969600,2023,11,3,1,4.411777,21.048056,21.999073,2.154253
7729,0.434783,2.782609,34.021739,0.789137,41.593416,37,1,2,England,Pune,...,0,1699401600,2023,11,8,37,35.791576,29.240646,30.734621,37.753448
7730,0.446809,2.787234,34.617021,0.781807,42.346747,4,1,2,India,Bengaluru,...,0,1699747200,2023,11,12,4,12.130713,17.158743,23.634149,4.433294

In [112]:
predicted_runs=output_df[['dnn_predictions','player']]

Summing up the total runs scored by each player of the tournament

In [114]:
# Sum the predicted runs for each player
summed_runs = predicted_runs.groupby('player')['dnn_predictions'].sum()

# Sort the dataframe based on the summed values in descending order
sorted_summed_runs = summed_runs.sort_values(ascending=False)

sorted_summed_runs

player
R Ravindra            525.479797
V Kohli               510.472595
Q de Kock             503.253967
HE van der Dussen     473.836853
DA Warner             467.878967
                         ...
PVD Chameera            2.522592
JR Hazlewood            2.213140
Usama Mir              -0.442387
Shariz Ahmad           -0.534115
Tanzim Hasan Sakib     -1.610692
Name: dnn_predictions, Length: 137, dtype: float32

In [ ]:
import pickle
pickle.dump(model,open('model.pkl','wb'))